*{
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.form-control-made {
  border: 0 solid var(--bs-border-color) !important;
  border-bottom: 3px solid var(--bs-border-color) !important;
  border-radius: 0 !important;
}
.btn-subscribe{
padding: .375rem .75rem !important;
border: 0 solid var(--bs-btn-border-color) !important;
border-bottom: 3px solid var(--bs-btn-border-color) !important;
border-radius: 0 !important;
}

.header-img{
  background-image: url(images/header-img.png);
  height: 20rem;
  background-size: cover;
}


.fixed-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.fixed-bottom-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



